extends layout

block content
    body 
      if isAuthenticated
        a(href="/logout") Sign out
      else
        a(href="/login") Sign in
      <h1>Create Contact </h1>
    form(action="/create" method="POST") 
      fieldset
        legend Basic Information
        label(for="firstName") First Name:
        input(type="text", name="firstName", required)
        br
        label(for="lastName") Last Name:
        input(type="text", name="lastName", required)
        br
        label(for="phoneNumber") Phone Number:
        input(type="tel", name="phoneNumber", required)
        br
        label(for="email") Email:
        input(type="email", name="email", required)
      fieldset
        legend Address
        label(for="street") Street:
        input(type="text", name="street", required)
        br
        label(for="city") City:
        input(type="text", name="city", required)
        br
        label(for="state") State:
        input(type="text", name="state", required)
        br
        label(for="zip") Zip:
        input(type="text", name="zip", required)
        br
        label(for="country") Country:
        input(type="text", name="country", required)
        br
      fieldset
        legend Contact
        input(type="checkbox", name="contactByPhone")
        label Contact by Phone:
        br
        input(type="checkbox", name="contactByEmail")
        label Contact by Email:
        br
        input(type="checkbox", name="contactByMail")
        label Contact by Mail:
        br
      button(type="submit") Add 
      <a href="/">Cancel</a>